:root{
    /*colors*/
    --primary-color: #9B6F48;
    --font-color: #434a54;
    --form-color: #e6e9ed;
    /*fonts*/
    --primary-font: 'Lato', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    font-family: var(--primary-font);
}

/*---------------------------------------------------- container*/
.container{ /*posiciona el contenedor en el centro*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2em 10em;
}

.container:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/flower.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; /*imagen de fondo*/
    filter: blur(5px); /*efecto blur sobre la imagen*/
}

.container .contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.container .contact-box .left{
    height: 100%;
    background-image: url('../assets/images/flower.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container .contact-box .right{
    padding: 2em 4em;
}

.contact-box .right h1{
    position: relative;
    padding-bottom: 1em;
    margin-bottom: 1em;
    font-size: 2rem;
    font-weight: 700;
    color: var(--font-color);
}


.contact-box .right h1:after{ /*propiedades para la línea inferior*/
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); /*posiciona al -50% del cuadrante x*/
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: var(--primary-color);
}

/*---------------------------------------------------- form*/

form .field{ /*propiedades generales para input*/
    width: 100%;
    padding: .5rem 1rem;
    margin-bottom: 2em;
    border: .2rem solid var(--form-color);
    background-color: var(--form-color);
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 1.2rem;
    transition: .3s; /*transición lenta al cambio de input*/
    outline: none;
}

form .field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

form .field:focus{
    background-color: #fff;
    border: .2rem solid var(--form-color);
}

form .area{
    min-height: 15rem;
}

form .btn{
    width: 100%;
    padding: .5rem 1rem;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    background-color: #9B6F48;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .3s;
} 

form .btn:hover{
    border-radius: 5px;
}

/*media queries*/
@media screen and (max-width: 880px){
    .container .contact-box{
        grid-template-columns: 1fr;  
    }
    .container .contact-box .left{
        height: 200px;
    }
}